body {
	margin-left: 2%;
	margin-top: 2%;
	font-family: Cabin, Arial;
}

/*Slide in*/
body {
        animation: slideIn 0.5s ease-out forwards;
        transform: translateX(-100%);
    }

    @keyframes slideIn {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

/*Slide in delay*/
.official {
	animation-delay: 0.7s;
}
.three {
	animation-delay: 0.85s;
}
